<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- hibernate 连接数据的基本信息 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">2011211961</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <!-- hibernate 数据库方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- hibernate 基本配置 -->
		<!--  生成数据表的策略-->
		<property name="hbm2ddl.auto">update</property>
		<!--  -->
		<property name="format_sql">true</property>
		<!-- 是否打印sql -->
		<property name="show_sql">true</property> 
		<!-- 需要关联的hibernate映射文件 -->       
        
        <mapping resource="entities/Book.hbm.xml" />
    </session-factory>
</hibernate-configuration>
